<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Add Book</title>
    </head>

    <body>
        <form method="POST" action="{{ url_for ('add')}}" novalidate>
            {{ form.csrf_token}}
            <p>{{ form.bookName.label }} <br>
                {{ form.bookName(size=32)}}
                {% for e in form.bookName.errors %}
                <span> {{ e }}</span>
                {% endfor %}
            </p>
            
            <p>{{ form.bookAuthor.label}} <br>
                {{ form.bookAuthor(size=32)}}
                {% for e in form.bookAuthor.errors %}
                <span> {{ e }}</span>
                {% endfor %}
            </p>

            <p>{{ form.bookRating.label}} <br>
                {{ form.bookRating(size=32)}}
                {% for e in form.bookRating.errors %}
                <span> {{ e }}</span>
                {% endfor %}
               </p>
            
               {{ form.submit }}
       </form>
       <p><a href="{{url_for ('home')}}">Return home</a></p>
    </body>
</html>