<!DOCTYPE html>
<hmtl lang = 'en'>
    <head>
        <meta charset="utf-8" />
        <title>Library</title>
    </head>

    <body>
        <h1>My Library</h1>
        {% if not allbooks %}
            <p>Library is empty.</p>
        {% else %}
            {% for book in allbooks %}
            <ul>
               
                <a href="{{ url_for('delete', title=book.title) }}">Delete</a>
                <li>{{ book.title }} - {{ book.author }} - {{ book.rating }}/10</li>
            </ul>
            {% endfor %}
        {% endif %}
        <a href="{{ url_for('add') }}">Add New Book</a>
    </body>
    
</hmtl>