body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px; /* Add space between columns */}

.name{
    text-align: center;
    margin-bottom: 20px;
}
.columns{
    display: flex;
    justify-content: space-between;
}

.contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap:10px;
}

.column {
    padding: 20px;
    box-sizing: border-box;
}
.left-column {
    flex: 1 1 30%;
    margin-right: 10px; /* Add right margin for the left column */
}
.right-column {
    flex: 1 1 70%;
    margin-left: 10px; /* Add left margin for the right column */
}

.element{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.edu-name{
    flex: 1;
}
.year{
    white-space: nowrap;
    margin-left: 20px;
}